## First Operation

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
    'Salary': [45000, 54000, 50000, 62000, 47000]
}

df = pd.DataFrame(data)

print("First Five Row of DataFrame: \n",df.head(5))

print()

print("Summary Statistics of Age and Salaries columns: \n",df.describe())

print()

average_salary_hr = df.groupby('Department')['Salary'].mean().loc['HR']
print("The Average Salary Of HR is: ", average_salary_hr)

First Five Row of DataFrame:
       Name  Age Department  Salary
0    Alice   24         HR   45000
1      Bob   27    Finance   54000
2  Charlie   22         IT   50000
3    Diana   32  Marketing   62000
4      Eve   29         HR   47000

Summary Statistics of Age and Salaries columns:
              Age        Salary
count   5.000000      5.000000
mean   26.800000  51600.000000
std     3.962323   6730.527468
min    22.000000  45000.000000
25%    24.000000  47000.000000
50%    27.000000  50000.000000
75%    29.000000  54000.000000
max    32.000000  62000.000000

The Average Salary Of HR is:  46000.0

## Second Operation

In [12]:
df_bonus = df.assign(Bonus = df['Salary'] * 0.10)
print("The DataFrame After Adding New Column Of Bonus(10%): \n", df_bonus)

The DataFrame After Adding New Column Of Bonus(10%):
       Name  Age Department  Salary   Bonus
0    Alice   24         HR   45000  4500.0
1      Bob   27    Finance   54000  5400.0
2  Charlie   22         IT   50000  5000.0
3    Diana   32  Marketing   62000  6200.0
4      Eve   29         HR   47000  4700.0

## Third Operation

In [15]:
emp_sal_age = df[(df['Age'] >= 25) & (df['Age'] <= 30)]
print(emp_sal_age)

  Name  Age Department  Salary   Bonus
1  Bob   27    Finance   54000  5400.0
4  Eve   29         HR   47000  4700.0

## Fourth Operation

In [17]:
df_group = df.groupby('Department')['Salary'].mean()
print("Average Salaries Of Each Department is: \n",df_group)

Average Salaries Of Each Department is:
 Department
Finance      54000.0
HR           46000.0
IT           50000.0
Marketing    62000.0
Name: Salary, dtype: float64

## Fifth Operation

In [19]:
sorted_df = df.sort_values(by = 'Salary', ascending = False)
print("Sorted DataFrame According to Salary is: \n", sorted_df)

Sorted DataFrame According to Salary is:
       Name  Age Department  Salary   Bonus
3    Diana   32  Marketing   62000  6200.0
1      Bob   27    Finance   54000  5400.0
2  Charlie   22         IT   50000  5000.0
4      Eve   29         HR   47000  4700.0
0    Alice   24         HR   45000  4500.0